@model IEnumerable<Sanlilar.Dto.SayfaListDto>

@{
    ViewBag.Title = "Sayfalar";
    ViewBag.Breadcrumb = "<li class='breadcrumb-item active'>Sayfalar</li>";


    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-primary" href=@("/Sayfalar/Edit/")><i class="glyphicon glyphicon-plus"></i> Yeni</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SayfaTipi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SayfaTipi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a class="btn btn-xs btn-primary" href=@("/Sayfalar/Edit/"+item.Id) data-toggle="tooltip" title="Düzenle">
                    <i class="glyphicon glyphicon-pencil"></i>
                    Düzenle
                </a>                
            </td>
        </tr>
    }

</table>
