@model Sanlilar.Dto.SayfaDetailDto

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!-- Page Title
============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>HAKKIMIZDA</h1>
        <span></span>
        <ol class="breadcrumb">
            <li><a href="/">Anasayfa</a></li>
            <li class="active">Hakkımızda</li>
        </ol>
    </div>
</section><!-- #page-title end -->

@*<section id="slider" class="boxed-slider">
    <div class="container clearfix">
        <a href="#">            
            <img src="/images/Site/hakkimizda_ust.png" />
        </a>
    </div>
</section>*@

<div class="section parallax dark nobottommargin" style="background-image: url('/images/Site/Eynal.png'); padding-top: 100px;" data-stellar-background-ratio="0.4">

    <div class="heading-block center">
        <h3></h3>
    </div>

    <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
        <div class="flexslider">
            <div class="slider-wrap">
                <div class="slide">                    
                    <div class="testi-content">
                        <p></p>
                        <div class="testi-meta">
                            @*Steve Jobs
                            <span>Apple Inc.</span>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            @Html.Raw(Model.Html)
        </div>
    </div>
</section>
