
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<section id="slider" class="slider-parallax swiper_wrapper clearfix">

    <div class="slider-parallax-inner">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark" style="background-image: url('/images/Site/Slider/1.jpg');"></div>
                <div class="swiper-slide dark">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 data-caption-animate="fadeInUp">DOĞANIN İÇİNDEN</h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">Doğanın kalbinde kusursuz bir tatil...</p>
                        </div>
                    </div>
                    <div class="video-wrap">
                        <video poster="/images/videos/explore.jpg" preload="auto" loop autoplay muted>
                            <source src='/images/videos/explore.mp4' type='video/mp4' />
                            <source src='/images/videos/explore.webm' type='video/webm' />
                        </video>
                        <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
                    </div>
                </div>
                <div class="swiper-slide dark" style="background-image: url('/images/Site/Slider/2.jpg');"></div>
                <div class="swiper-slide dark" style="background-image: url('/images/Site/Slider/3.jpg');"></div>
                <div class="swiper-slide dark" style="background-image: url('/images/Site/Slider/4.jpg');"></div>
                <div class="swiper-slide dark" style="background-image: url('/images/Site/Slider/5.jpg');"></div>
                <div class="swiper-slide dark" style="background-image: url('/images/Site/Slider/6.jpg');"></div>
                <div class="swiper-slide dark" style="background-image: url('/images/Site/Slider/7.jpg');"></div>
                <div class="swiper-slide dark" style="background-image: url('/images/Site/Slider/8.jpg');"></div>
                <div class="swiper-slide dark" style="background-image: url('/images/Site/Slider/9.jpg');"></div>
                <div class="swiper-slide dark" style="background-image: url('/images/Site/Slider/10.jpg');"></div>
                
                @*<div class="swiper-slide" style="background-image: url('/images/slider/swiper/3.jpg'); background-position: center top;">
                    <div class="container clearfix">
                        <div class="slider-caption">
                            <h2 data-caption-animate="fadeInUp">Great Performance</h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">You'll be surprised to see the Final Results of your Creation &amp; would crave for more.</p>
                        </div>
                    </div>
                </div>*@
            </div>
            <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
            <div id="slide-number"><div id="slide-number-current"></div><span>/</span><div id="slide-number-total"></div></div>
        </div>

    </div>

</section>

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="promo promo-light promo-full bottommargin-lg header-stick notopborder">
            <div class="container clearfix">
                <h3>Şimdi arayın <span>0(274)547-2121</span> <span>0(545)547-2120</span> veya <br />
                E-Posta atın <span>info@sifatermal.com</span></h3>
                <span>Rezervasyon için lütfen iletişime geçiniz.</span>
                <a href="/Rezervasyon" class="button button-dark button-xlarge button-rounded">Rezervasyon</a>
            </div>
        </div>

        <div class="container clearfix">

            <div class="col_one_fourth nobottommargin">
                <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                    <div class="fbox-icon">
                        <a href="#"><i class="i-alt noborder icon-shop"></i></a>
                    </div>
                    <h3>Apartlar<span class="subtitle">Ailece kalabileceğiniz geniş apartlar</span></h3>
                </div>
            </div>

            <div class="col_one_fourth nobottommargin">
                <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                    <div class="fbox-icon">
                        <a href="#"><i class="i-alt noborder icon-wallet"></i></a>
                    </div>
                    <h3>Uygun Fiyatlar<span class="subtitle">Kredi kartı ile kolay ödeme imkanı</span></h3>
                </div>
            </div>

            <div class="col_one_fourth nobottommargin">
                <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                    <div class="fbox-icon">
                        <a href="#"><i class="i-alt noborder icon-megaphone"></i></a>
                    </div>
                    <h3>Bol Oksijenli<span class="subtitle">Şehrin gürültüsünden uzak bir tatil.</span></h3>
                </div>
            </div>

            <div class="col_one_fourth nobottommargin col_last">
                <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                    <div class="fbox-icon">
                        <a href="#"><i class="i-alt noborder icon-fire"></i></a>
                    </div>
                    <h3>Termal Su<span class="subtitle">Türkiye'nin en mineralli suyuna sahibiz.</span></h3>
                </div>
            </div>

            <div class="clear"></div>


        </div>

        <div class="section topmargin-lg">
            <div class="container clearfix">

                <div class="heading-block center">
                    <h2>Rahat, konforlu ve huzur içerisinde olmanız için tüm detayları düşündük.</h2>
                    <span>Kaplıcamızdaki tüm kapalı mekanlar jeotermal ısıtma sistemi ile ısıtılmakta ve apartların tamamında termal sulu özel yapım küvetli banyo mevcuttur.</span>
                </div>


            </div>
        </div>

        <a class="button button-full center tright footer-stick">
            <div class="container clearfix">
                Eynal kpalıcaları Şifa Termal'de Şimdi <strong>Yerinizi ayırtın</strong> <i class="icon-caret-right" style="top:4px;"></i>
            </div>
        </a>

    </div>

</section><!-- #content end -->

