 <!-- banner start -->
<!-- ================ -->
<div class="banner banner-big-height dark-translucent-bg padding-bottom-clear" style="background-image:url('images/Site/2.jpg');background-position: 50% 32%;">
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-8 text-center pv-20">
                <h1 class="title">ŞİFA TERMALE HOŞ GELDİNİZ</h1>
                <div class="separator mt-10"></div>
                <p class="text-center">Rezervasyon için bilgileri doldurun biz sizi arayalım.</p>
            </div>
        </div>
    </div>

    <!-- section start -->
    <!-- ================ -->
    @{
        ViewBag.Title = "Home Page";
    }

    <div class="dark-translucent-bg section">
        <div class="container">
            <!-- filters start -->
            <div class="sorting-filters text-center mb-20 d-flex justify-content-center">
                <form class="form-inline">
                    <div class="form-group">
                        <label>Giriş Tarihi:</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="form-group ml-1">
                        <label>Çıkış Tarihi:</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="form-group ml-1">
                        <label>Oda Tipi:</label>
                        <select class="form-control">
                            <option selected="selected">1 Odalı</option>
                            <option>2 Odalı</option>
                            <option>3 Odalı</option>
                        </select>
                    </div>
                    <div class="form-group ml-1">
                        <label>Telefon</label>
                        <select class="form-control">
                            <option selected="selected">1 Adult</option>
                            <option>2 Adults</option>
                            <option>3 Adults</option>
                            <option>4 Adults</option>
                            <option>5 Adults</option>
                            <option>6 Adults</option>
                        </select>
                    </div>
                    <div class="form-group ml-1">
                        <label>Childs</label>
                        <select class="form-control">
                            <option selected="selected">1 Child</option>
                            <option>2 Childs</option>
                            <option>3 Childs</option>
                            <option>4 Childs</option>
                            <option>5 Childs</option>
                            <option>6 Childs</option>
                        </select>
                    </div>
                </form>
            </div>
            <!-- filters end -->
        </div>
    </div>
    <!-- section end -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form class="text-center">
                    <button type="submit" class="btn btn-lg btn-gray-transparent btn-animated margin-clear">Book Now <i class="fa fa-check"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->
<!-- section start -->
<!-- ================ -->
<section class="light-gray-bg pv-40 border-clear">
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-8">
                <h2 class="text-center title">The <strong>Hotel</strong></h2>
                <div class="separator"></div>
                <p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="image-box style-2 mb-20">
                    <div class="overlay-container overlay-visible">
                        <img src="images/hotel-service-1.jpg" alt="">
                        <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                        <div class="overlay-bottom">
                            <div class="text">
                                <p class="lead margin-clear text-left mobile-visible">Weddings</p>
                            </div>
                        </div>
                    </div>
                    <div class="body padding-horizontal-clear">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
                        <a class="link-dark" href="page-services.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="image-box style-2 mb-20">
                    <div class="overlay-container overlay-visible">
                        <img src="images/hotel-service-2.jpg" alt="">
                        <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                        <div class="overlay-bottom">
                            <div class="text">
                                <p class="lead margin-clear text-left mobile-visible">Conferences and Meetings</p>
                            </div>
                        </div>
                    </div>
                    <div class="body padding-horizontal-clear">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
                        <a class="link-dark" href="page-services.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="image-box style-2 mb-20">
                    <div class="overlay-container overlay-visible">
                        <img src="images/hotel-service-3.jpg" alt="">
                        <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                        <div class="overlay-bottom">
                            <div class="text">
                                <p class="lead margin-clear text-left mobile-visible">Events</p>
                            </div>
                        </div>
                    </div>
                    <div class="body padding-horizontal-clear">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
                        <a class="link-dark" href="page-services.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="image-box style-2 mb-20">
                    <div class="overlay-container overlay-visible">
                        <img src="images/hotel-service-4.jpg" alt="">
                        <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                        <div class="overlay-bottom">
                            <div class="text">
                                <p class="lead margin-clear text-left mobile-visible">Resorts</p>
                            </div>
                        </div>
                    </div>
                    <div class="body padding-horizontal-clear">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.</p>
                        <a class="link-dark" href="page-services.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<section class="dark-translucent-bg background-img-9 pv-40" style="background-position: 50% 50%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial text-center">
                    <div class="testimonial-image">
                        <img src="images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="rounded-circle">
                    </div>
                    <h3>Just Perfect!</h3>
                    <div class="separator"></div>
                    <div class="testimonial-body">
                        <blockquote>
                            <p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium.</p>
                        </blockquote>
                        <div class="testimonial-info-1">- Jane Doe</div>
                        <div class="testimonial-info-2">By Company</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial text-center">
                    <div class="testimonial-image">
                        <img src="images/testimonial-2.jpg" alt="Jane Doe" title="Jane Doe" class="rounded-circle">
                    </div>
                    <h3>Amazing!</h3>
                    <div class="separator"></div>
                    <div class="testimonial-body">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione.</p>
                        </blockquote>
                        <div class="testimonial-info-1">- Jane Doe</div>
                        <div class="testimonial-info-2">By Company</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial text-center">
                    <div class="testimonial-image">
                        <img src="images/testimonial-3.jpg" alt="Jane Doe" title="Jane Doe" class="rounded-circle">
                    </div>
                    <h3>Amazing!</h3>
                    <div class="separator"></div>
                    <div class="testimonial-body">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione.</p>
                        </blockquote>
                        <div class="testimonial-info-1">- Jane Doe</div>
                        <div class="testimonial-info-2">By Company</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="call-to-action pv-40 ph-20 text-center" style="background-color: rgba(0,0,0,0.3);">
                    <h2 class="title">Subscribe Now</h2>
                    <p>Get special offers and promotions right in your inbox.</p>
                    <div class="separator"></div>
                    <form class="form-inline margin-clear d-flex justify-content-center">
                        <div class="form-group has-feedback">
                            <label class="sr-only" for="subscribe">Email address</label>
                            <input type="email" class="form-control form-control-lg" id="subscribe" placeholder="Enter email" name="subscribe" required="">
                            <i class="fa fa-envelope form-control-feedback"></i>
                        </div>
                        <button type="submit" class="btn btn-lg btn-gray-transparent btn-animated ml-md-3 mt-sm-3 mt-md-0">Submit <i class="fa fa-send"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
<!-- section -->
<!-- ================ -->
<section class="light-gray-bg pv-40">
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-8">
                <h2 class="text-center">Photo <strong>Galleries</strong></h2>
                <div class="separator"></div>
                <p class="large text-center">Atque ducimus velit, earum quidem, iusto dolorem. Ex ipsam totam quas blanditiis, pariatur maxime ipsa iste, doloremque neque doloribus, error. Corrupti, tenetur.</p>
                <br>
            </div>
        </div>
        <div class="row grid-space-0">
            <div class="col-lg-6">
                <div class="image-box text-center">
                    <div class="overlay-container">
                        <img src="images/hotel-image-1.jpg" alt="">
                        <div class="overlay-top">
                            <div class="text">
                                <h3><a href="#">Indoor Pools</a></h3>
                                <p class="small">Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <div class="overlay-bottom">
                            <div class="links">
                                <a href="#" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-box text-center">
                    <div class="overlay-container">
                        <img src="images/hotel-image-2.jpg" alt="">
                        <div class="overlay-top">
                            <div class="text">
                                <h3><a href="#">Restaurants</a></h3>
                                <p class="small">Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <div class="overlay-bottom">
                            <div class="links">
                                <a href="#" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-box text-center">
                    <div class="overlay-container">
                        <img src="images/hotel-image-3.jpg" alt="">
                        <div class="overlay-top">
                            <div class="text">
                                <h3><a href="#">Bungalows</a></h3>
                                <p class="small">Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <div class="overlay-bottom">
                            <div class="links">
                                <a href="#" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-box text-center">
                    <div class="overlay-container">
                        <img src="images/hotel-image-4.jpg" alt="">
                        <div class="overlay-top">
                            <div class="text">
                                <h3><a href="#">Rooms</a></h3>
                                <p class="small">Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <div class="overlay-bottom">
                            <div class="links">
                                <a href="#" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->