
@{
    ViewBag.Title = "RezervasyonOnay";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>RezervasyonOnay</h2>

<div>
    Rezervasyon isteğiniz alınmıştır. Size en yakın sürede geri dönüş sağlayacağız.
</div>