@model IEnumerable<Sanlilar.Dto.UrunListDto>

@{
    ViewBag.Title = "Ürünler";
    ViewBag.Breadcrumb = "<li class='breadcrumb-item active'>Ürünler</li>";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-primary" href=@("/Urunler/Edit/")><i class="fas fa-plus"></i> Yeni</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fiyat)
        </th>
        <th>İşlem</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
            </td>
            <td>
                <a class="btn btn-sm btn-outline-primary" href=@(String.Format("/Urunler/Resimler/{0}",item.Id)) data-toggle="tooltip" title="Düzenle">
                    <i class="fas fa-camera"></i>
                    Resimler
                </a>

                <a class="btn btn-sm btn-outline-primary" href=@("/Urunler/Edit/"+item.Id) data-toggle="tooltip" title="Düzenle">
                    <i class="fas fa-pencil-alt"></i>
                    Düzenle
                </a>

                <a class="btn btn-sm btn-outline-danger" href=@("/Urunler/Delete/" + item.Id) data-toggle="tooltip" title="Sil">
                    <i class="fas fa-trash"></i>
                    Sil
                </a>
            </td>
        </tr>
    }

</table>
