<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Thema/Canvas/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Thema/Canvas/swiper.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Thema/Canvas/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Thema/Canvas/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Thema/Canvas/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Thema/Canvas/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="~/Content/Thema/Canvas/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- Document Title
    ============================================= -->
    <title>@ViewBag.Title</title>

</head>

<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">


        <!-- Header
        ============================================= -->
        <header id="header" class="full-header" ><!--class="full-header"-->
            <div id="header-wrap">
                <div class="container clearfix">
                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="index.html" class="standard-logo" data-dark-logo="/images/Site/logo126x100.png"><img src="/images/Site/logo126x100.png" alt="Canvas Logo"></a>
                        <a href="index.html" class="retina-logo" data-dark-logo="/images/Site/logo126x100.png"><img src="/images/Site/logo126x100.png" alt="Canvas Logo"></a>
                    </div>
                    <!-- #logo end -->

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">

                        <ul>
                            <li class="current">
                                <a href="index.html"><div>Anasayfa</div></a>
                            </li>
                            <li>
                                <a href="#"><div>Odalarımız</div></a>
                            </li>
                            <li class="mega-menu">
                                <a href="#"><div>Galeri</div></a>
                            </li>
                            <li class="mega-menu">
                                <a href="#"><div>Eynal</div></a>
                            </li>
                            <li class="mega-menu">
                                <a href="#"><div>Sanal Tur</div></a>
                            </li>
                            <li>
                                <a href="shop.html"><div>Rezervasyon</div></a>
                            </li>
                            <li class="mega-menu">
                                <a href="#"><div>İletişim</div></a>
                            </li>
                        </ul>



                    </nav>
                    <!-- #primary-menu end -->
                </div>

            </div>

        </header>
        <!-- #header end -->

        @RenderBody()
        <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark">        
            <!-- Copyrights
            ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">

                    <div class="col_half">
                        Copyrights &copy; 2017 All Rights Reserved by Canvas Inc.<br>
                        <div class="copyright-links"><a href="http://ondercalbay.com" target="_blank">Önder Çalbay</a> Tarafında dizayn edilmiştir.</div>
                    </div>

                    <div class="col_half col_last tright">
                        <div class="fright clearfix">
                            <a href="#" class="social-icon si-small si-borderless si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless si-instagram">
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                            </a>
                            
                        </div>

                        <div class="clear"></div>

                        <i class="icon-envelope2"></i> info@sifatermal.com <span class="middot">&middot;</span> 
                        <i class="icon-headphones"></i> +90-274-547-2121 <span class="middot">&middot;</span> 
                        <i class="icon-phone"></i> +90-545-547-2120 <span class="middot">&middot;</span>                         
                    </div>

                </div>

            </div><!-- #copyrights end -->

        </footer><!-- #footer end -->

    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
    ============================================= -->


    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Content/Thema/Canvas/JS/plugins.js"></script>
    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="~/Content/Thema/Canvas/JS/functions.js"></script>

</body>
</html>
