<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Thema/Canvas/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Thema/Canvas/swiper.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Thema/Canvas/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Thema/Canvas/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Thema/Canvas/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Thema/Canvas/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="~/Content/Thema/Canvas/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- Document Title
    ============================================= -->
    <title>@ViewBag.Title</title>

</head>

<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">


        <!-- Header
        ============================================= -->
        <header id="header" class="full-header" ><!--class="full-header"-->
            <div id="header-wrap">
                <div class="container clearfix">
                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="index.html" class="standard-logo" data-dark-logo="/images/Site/logo126x100.png"><img src="/images/Site/logo126x100.png" alt="Canvas Logo"></a>
                        <a href="index.html" class="retina-logo" data-dark-logo="/images/Site/logo126x100.png"><img src="/images/Site/logo126x100.png" alt="Canvas Logo"></a>
                    </div>
                    <!-- #logo end -->

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">

                        <ul>
                            <li class="current">
                                <a href="/"><div>Anasayfa</div></a>
                            </li>
                            <li>
                                <a href="/Odalarimiz"><div>Odalarımız</div></a>
                            </li>
                            <li class="mega-menu">
                                <a href="/Galeri"><div>Galeri</div></a>
                            </li>
                            <li class="mega-menu">
                                <a href="/Eynal"><div>Eynal</div></a>
                            </li>
                            <li class="mega-menu">
                                <a href="http://www.sanalturturkiye.net/oteller/sifa_termal_otel/sifa_termal_sanal_tur.html" target="_blank"><div>Sanal Tur</div></a>
                            </li>
                            <li>
                                <a href="/Rezervassyon"><div>Rezervasyon</div></a>
                            </li>
                            <li class="mega-menu">
                                <a href="/Iletisim"><div>İletişim</div></a>
                            </li>
                        </ul>



                    </nav>
                    <!-- #primary-menu end -->
                </div>

            </div>

        </header>
        <!-- #header end -->

        @RenderBody()
        <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark">        
            <!-- Copyrights
            ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">

                    <div class="col_half">
                        Copyrights &copy; 2017 All Rights Reserved by Canvas Inc.<br>
                        <div class="copyright-links"><a href="http://ondercalbay.com" target="_blank">Önder Çalbay</a> Tarafında dizayn edilmiştir.</div>
                    </div>

                    <div class="col_half col_last tright">
                        <div class="fright clearfix">
                            <a href="#" class="social-icon si-small si-borderless si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless si-instagram">
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                            </a>
                            
                        </div>

                        <div class="clear"></div>

                        <i class="icon-envelope2"></i> info@sifatermal.com <span class="middot">&middot;</span> 
                        <i class="icon-headphones"></i> +90-274-547-2121 <span class="middot">&middot;</span> 
                        <i class="icon-phone"></i> +90-545-547-2120 <span class="middot">&middot;</span>                         
                    </div>

                </div>

            </div><!-- #copyrights end -->

        </footer><!-- #footer end -->

    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
    ============================================= -->


    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Content/Thema/Canvas/JS/plugins.js"></script>
    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="~/Content/Thema/Canvas/JS/functions.js"></script>
     
    
    @*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjyKeWtxa2ilGoQDjs2eGuHjPTih7hUeQ&callback=initMap" type="text/javascript"></script>*@

    @*<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCjyKeWtxa2ilGoQDjs2eGuHjPTih7hUe"></script>*@
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyC8hjTJwTaYk3q7ccXZ9SNl5F9Ey6UPEhg"></script>
    <script type="text/javascript" src="~/Content/Thema/Canvas/JS/jquery.gmap.js"></script>

    <script type="text/javascript">

        jQuery('#google-map').gMap({
            address: 'Kütahya, Simav, Eynal, Şifa Termal',
            maptype: 'ROADMAP',
            zoom: 15,
            markers: [
                {
                    address: "Kütahya, Simav, Eynal, Şifa Termal",
                    //html: '<div style="width: 300px;"><h4 style="margin-bottom: 8px;">Hi, we\'re <span>Envato</span></h4><p class="nobottommargin">Our mission is to help people to <strong>earn</strong> and to <strong>learn</strong> online. We operate <strong>marketplaces</strong> where hundreds of thousands of people buy and sell digital goods every day, and a network of educational blogs where millions learn <strong>creative skills</strong>.</p></div>',
                    icon: {
                        image: "/images/icons/map-icon-red.png",
                        iconsize: [32, 39],
                        iconanchor: [32, 39]
                    }
                }
            ],
            doubleclickzoom: false,
            controls: {
                panControl: true,
                zoomControl: true,
                mapTypeControl: true,
                scaleControl: false,
                streetViewControl: false,
                overviewMapControl: false
            }
        });

    </script>

</body>
</html>
