
<ul class="navbar-nav ml-xl-auto">
    <!-- mega-menu start -->
    <li class="nav-item dropdown active mega-menu mega-menu--wide">
        <a href="/" class="nav-link" aria-expanded="false">Anasayfa</a>
    </li>
    <li class="nav-item dropdown active mega-menu mega-menu--wide">
        <a href="/Odalarimiz" class="nav-link" aria-expanded="false">Odalarımız</a>
    </li>
    <li class="nav-item dropdown active mega-menu mega-menu--wide">
        <a href="/Galeri" class="nav-link" aria-expanded="false">Galeri</a>
    </li>
    <li class="nav-item dropdown active mega-menu mega-menu--wide">
        <a href="/Eynal" class="nav-link" aria-expanded="false">Eynal</a>
    </li>
    <li class="nav-item dropdown active mega-menu mega-menu--wide">
        <a href="/Rezervasyon" class="nav-link" aria-expanded="false">Rezervasyon</a>
    </li>
    <li class="nav-item dropdown active mega-menu mega-menu--wide">
        <a href="http://www.sanalturturkiye.net/oteller/sifa_termal_otel/sifa_termal_sanal_tur.html" target="_blank" class="nav-link" aria-expanded="false">Sanal Tur</a>
    </li>
    <li class="nav-item dropdown active mega-menu mega-menu--wide">
        <div class="header-dropdown-buttons">
            <a href="/Iletisim" class="btn btn-sm btn-default" aria-expanded="false">İletişim <i class="fa fa-envelope-o pl-1"></i></a>
        </div>
    </li>
</ul>