<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <!--<add name="ChaosContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Projeler\ChaosCC\ChaosCC.UIYonetim\App_Data\DbChaos.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="SanlilarContext" connectionString="Data Source=dbsanlilar.ondercalbay.com;Initial Catalog=Onder_Sanlilar;Persist Security Info=True;User ID=User_Sanlilar;Password=albay69sFENDER" providerName="System.Data.SqlClient" />-->
    <add name="SanlilarContext" connectionString="Data Source=94.73.145.8;Initial Catalog=Onder_Sanlilar;Persist Security Info=True;User ID=User_Sanlilar;Password=albay69sFENDER" providerName="System.Data.SqlClient" />

  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
